
  <section class="footer-links">
    <% if (pageData.previous) { %>
    <a class="grid-cell previous" href="/<%= pageData.previous.id %>"><%= pageData.previous.title %></a>
    <% } %>
    <% if (pageData.next) { %>
    <a class="grid-cell next" href="/<%= pageData.next.id %>"><%= pageData.next.title %></a>
    <% } %>
  </section>
  <footer class="grid">
    <div class="grid-cell grid3">
      <img class="me-pic" src="/images/me.jpg" alt="">
    </div>
    <div class="grid-cell grid9"><
      <h4>Shall we create something together?</h4>
      <p><a href="mailto:rob@robthwaites.com">rob@robthwaites.com</a></p>
      <p><a tel="+61403899183">0403899183</a></p>
    </div>
  </footer>
  </div> <!-- end app__body -->
</body>
</html>
