video{
  width:100%
}

img{
  position:relative;
  // max-width: 90%;
}

.slider--mobile{
  position:relative;
  height: 55vh;
  width: 30.93vh;
  margin: 2rem auto;
  &:before{
    content: '';
      display: block;
      position: absolute;
      width: 141%;
      height: 138%;
      top: -16.5%;
      left: -20%;
      background-image: url(../images/phone2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
}

.slider--desktop{
  &:before{
    content:'';
    opacity:0;
    z-index:-1;
    position:relative;
    display:block;
    width:100%;
    height:0;
    padding-top: 62.5%; // aspect ratio for my weird-ass videos
  }
  position:relative;
  width: 80%;
  height:auto;
  box-sizing: content-box;
  margin: auto;
  border: 1rem solid #aaaaaa;
  border-radius: 0.5rem;
  &.rsFullscreen{
    border: 0;
    border-radius: 0;
    background: black;
    .video-slide{
      position:absolute;
      top:0;
      width: 100%;
      height: auto;
    }
    .image-slide{
      width: 100%;
    }
  }
  .rsOverflow{
    position:absolute;
    top:0;
  }

}

#slider-hangtime-demo:before{
  background-image: url(../images/phone-sketch.png);
}

.slider__nav{
  display:flex;
  justify-content: flex-start;
  &.align-right{
    justify-content: flex-end;
  }
  &.start{
    .slider__arrow--left{
      fill:@midgrey;
    }
  }
  &.end{
    .slider__arrow--right{
      fill:@midgrey;
    }
  }
}

.slider__arrow{
  fill: @darkgrey;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}


.video-slide{
  position: absolute;
  height: 100%;
  top:0;
  width: 100%;
}

.video-slide video{
  position:absolute;
  height:auto;
  width:100%;
}

element.style {
    cursor: -webkit-grabbing;
    width: 1114px;
    height: 557px;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs{
  background: transparent;
}

.project__header{
  position: relative;
  color: white;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left:0;
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    pointer-events: none;
  }
}

.project__header__hero{
  padding-bottom: 0;
  position: relative;
  img{
    display:block;
    width: 100%;
    max-width: 30vw;
    margin: 0 auto;
    height: auto;
  }
}
.project__header__title{
  justify-content: space-between;
}

.intro{
  background: @palegrey;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.intro__text{
  p{
    font-size: @size-1;
    font-family: 'Graphik', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
}

.credits{
  h3{
    font-family: 'Graphik', serif;
    font-size: @size-0;
    font-weight: bold;
    color: @darkgrey;
    margin: 0;
  }
  p{
    font-size: @size-small;
    color: @midgrey;
    margin:0;
    padding: 0;
  }
}

.divider{
  width:100%;
  &:before{
    content:'';
    display:block;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    border-top: 2px solid green;
  }
}

#icons{
  display:none;
}

.hangtime-intro{
  background-image:
    url(../images/ads-ht-diagram1.jpg),
    url(../images/ads-ht-diagram2.jpg);
  background-size: contain;
  background-position:
    left center,
    right center;
  background-repeat: no-repeat;
}

.image-frame{
  margin-bottom: 2rem;
}

.image-frame .grid-cell{
  flex-direction: row;
  align-items: flex-start;
  margin-left: ~"calc(100% * 0.08333333)";
  border: 1px solid @darkgrey;
  img:nth-of-type(1){
      width: 45.5%;
  }
  img:nth-of-type(2){
      width: 54.8%;
  }
}

.image-slide{
  width: 100%;
  img{
    display:block;
    width:100%;
    height: auto;
  }
}

.hero-slide{
  flex-direction: row;
  justify-content: center;
  .image-slide{
    height: auto;
    width: 80%;
    border-radius: 0.5rem;
    border: 1rem solid @midgrey;
  }
}

.slider__captions{
  > *{
    transition: opacity 0.5s ease-in;
  }
  > *:not(.current){
    opacity: 0.5;
    font-size: @size-small;
    line-height: 1.4em;
  }
}

.slider__fullscreen-button{
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
}

.rsSlide{
  background: black;
}

.rsArrow{
  opacity:0;
  .rsFullscreen &{
    opacity:1;
  }
}

.rsFullscreenBtn{
  opacity:0;
  .rsFullscreen &{
    opacity:1;
  }
}
