#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; display: none !important }
body{
	// background: lighten(red, 45%);
	// &:after{
	// 	content:'';
	// 	pointer-events: none;
	// 	display:block;
	// 	position: absolute;
	// 	top:0;
	// 	bottom:0;
	// 	left:0;
	// 	right:0;
	// 	background-image: url(../images/textured_paper.png);
	// 	opacity: 0.4;
	// 	z-index: 10;
	// 	// mix-blend-mode: overlay;
	// 	color: white !important;
	// }
}


.app__svg-icons{
	display:none;
}

.app__body{
	position: relative;
	display:flex;
	flex:1;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.footer-links{
	justify-content: space-between;
	// grid-cells
	> *{
		overflow:visible;
		height: 4rem;
		// a:before{
		// 	position: absolute;
		// 	display:block;
		// 	content: 'Previous Project';
		// 	font-size: @size-small;
		// 	color: grey;
		// 	top:0;
		// 	width: 100%;
		// }
	}
	a{
		display:flex;
		flex-direction:column;
		justify-content: center;
		width: 10rem;
		img{
			display:block;
			width: 6rem;
			height: auto;
			filter: invert(100%);
		}
	}
	.previous{
		a{
			align-items: center;
			margin-left: 2rem;
			&:before{
				font-family:@headingFamily;
				font-size: 3rem;
				position: absolute;
				display:block;
				content: '\2039';

				left:0;
				top: 0;
				width: 2rem;
			}
		}

		// padding-left: 6rem;
		// a:before{
		// 	text-align:left;
		// 	left: 6rem;
		// }


	}
	.next{
		// padding-right: 6rem;
		align-items: flex-end;
		a{
			align-items: center;
			margin-right: 2rem;
			&:before{
				font-family:@headingFamily;
				font-size: 3rem;
				position: absolute;
				display:block;
				content: '\203A';

				right:0;
				top: 0;
				width: 2rem;
			}
		}


		// a:before{
		// 	text-align:right;
		// 	right: 6rem;
		// 	content: 'Next Project';
		// }
	}
}

footer{
	justify-content: center;
	height: 15rem;
	background-image: url(../images/me_desktop_bw.jpg), url('#chevron-left');
	.grid-cell{
		justify-content:center;
	}
	h2{
		text-align: center;
		// color: white !important;
		// text-shadow: 0px 0px 3px rgba(0,0,0,0.1);
		font-size: @size-2;
		max-width: 25rem;
		margin: 0 auto;
	}
	p, a{
		text-align: center;
		font-size: @size-1;
		// color: white !important;
		// text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	}
}

.app__header{
	position: fixed;
	height: 2.3rem;
	width: 100%;
	// background: white;
	z-index:100;
	&:after{
		.pseudofill;
		z-index:-1;
		// box-shadow: 0 0 1em rgba(0,0,0,0.2);
		transition: all 0.3s ease-out;
		.init &{
			opacity:0;
		}
	}
}



video{
  width:100%
}

img{
  position:relative;
  // max-width: 90%;
}

section{
  .media-phone-portrait({
    border-bottom: 1px solid @midgrey;
    margin-bottom: 2rem;
  });
}

.slider--mobile{
  position:relative;
  height: 55vh;
  width: 30.93vh;
  margin: 2rem auto;
  // overflow:hidden;
  &:before{
    content: '';
      display: block;
      position: absolute;
      width: 141%;
      height: 138%;
      top: -16.5%;
      left: -20%;
      background-image: url(../images/phone2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
}

.slider--desktop{
  &:before{
    content:'';
    opacity:0;
    z-index:-1;
    position:relative;
    display:block;
    width:100%;
    height:0;
    padding-top: 62.5%; // aspect ratio for my weird-ass videos
  }
  position:relative;
  width: 90%;
  height:auto;
  box-sizing: content-box;
  // margin: 0 auto;
  border: 1rem solid #aaaaaa;
  border-radius: 0.5rem;
  .media-phone-portrait({
    width: 95%;
    border: 0;
  });
  &.rsFullscreen{
    border: 0;
    border-radius: 0;
    background: black;
    .video-slide{
      position:absolute;
      top:0;
      width: 100%;
      height: auto;
    }
    .image-slide{
      width: 100%;
    }
  }
  .rsOverflow{
    position:absolute;
    top:0;
  }

}

#slider-hangtime-demo:before{
  background-image: url(../images/phone-sketch.png);
}

.slider__nav{
  display:flex;
  justify-content: flex-start;
  // margin-left: 0.4rem;
  padding:  0.5rem 0;
  &.align-right{
    justify-content: flex-end;
  }
  &.start{
    .slider__arrow--left{
      fill:@midgrey;
    }
  }
  &.end{
    .slider__arrow--right{
      fill:@midgrey;
    }
  }
}

.slider__arrow{
  fill: @white;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}


.video-slide{
  position: absolute;
  height: 100%;
  top:0;
  width: 100%;
}

.video-slide video{
  position:absolute;
  height:auto;
  width:100%;
}

element.style {
    cursor: -webkit-grabbing;
    width: 1114px;
    height: 557px;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs{
  background: transparent;
}

.project__header{
  position: relative;
  color: white;
  // overflow: hidden;
  height: 20rem;
  background-size: cover;
  background-position: right:center;
  background-repeat: no-repeat;
  // &:before{
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 200%;
  //   top: -50%;
  //   left:0;
  //   pointer-events: none;
  //   // color set in header
  // }
}

.project__header__title{
	overflow:visible;
  // justify-content: space-between;
	h1{
		font-size: @size-4;
	}
	h3{
		text-align: center;
	}
	p{
		text-align:center;
	}
}

.project__header__hero{
	position: absolute;
	width: 100%;
	top: 50%;
	overflow:visible;
	img{
		position:absolute;
		display:block;
		width: 60%;
		margin-left: 20%;
	}
}

.intro{
  background: @lightgrey;
  padding-top: 12rem;
  padding-bottom: 1rem;
}

.intro__text{
  p{
    // font-size: @size-0;
    // font-family: 'Graphik', sans-serif;
    max-width: 40em;
    // line-height: 1.5;
    font-weight: 400;
  }
}

.credits{
  h3{
    // font-family: 'Graphik', serif;
    font-size: @size-0;
    font-weight: 7070;
    color: @darkgrey;
    margin: 0;
  }
  p{
    font-size: @size-0;
    color: @darkgrey;
    margin:0;
    padding: 0;
  }
}

.divider{
  width:100%;
  &:before{
    content:'';
    display:block;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    border-top: 2px solid green;
  }
}

#icons{
  display:none;
}

.image-frame{
  margin-bottom: 2rem;
}

.image-frame .grid-cell{
  flex-direction: row;
  align-items: flex-start;
  margin-left: ~"calc(100% * 0.08333333)";
  border: 1px solid @darkgrey;
  img:nth-of-type(1){
      width: 45.5%;
  }
  img:nth-of-type(2){
      width: 54.8%;
  }
}

.image-slide{
  width: 100%;
  img{
    display:block;
    width:100%;
    height: auto;
  }
}

.hero-slide{
  flex-direction: row;
  justify-content: center;
  .image-slide{
    height: auto;
    width: 80%;
    border-radius: 0.5rem;
    border: 1rem solid @midgrey;
  }
}

.slider__captions{
  h4{
    font-size: @size-1;
    margin-bottom: 0.5em;
  }
  p{
    font-size: @size-0;
    line-height: 1.6;
    margin-top:0;
    overflow:hidden;
    height: 4rem;
    max-height: 4rem;
    transition: all 0.5s linear;
  }
  .caption{
		transition: all 0.3s ease-in 0.3s;
		transform: translateX(0%);
		position: absolute;
		bottom:2rem;
    margin: 0.5rem 0;
    strong{
      font-size: 1.1em;
      display:inline-block;
      margin-right: 0.2em;
    }
  }
  .caption:not(.current){
		transition: all 0.3s ease-in;
		opacity: 0;
		transform: translateX(10%);
    // p{
    //   max-height: 0;
    // }
  }
}

.slider__nav-below{
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 0.5rem 0;
  span{
    font-size: @size-0;
    line-height: @size-0;
  }
}

.slider__fullscreen-button{
  width: auto;
  display:flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 1.5rem;
  svg{
    height: 90%;
    left:0;
    top:0;
  }
  span{
    text-transform: uppercase;
    // width: 6rem;
    display:block;
    font-size: @size-small;
    right:0;
  }
}

.rsSlide{
  background: black;
}

.rsArrow{
  opacity:0;
  .rsFullscreen &{
    opacity:1;
  }
}

.rsFullscreenBtn{
  opacity:0;
  .rsFullscreen &{
    opacity:1;
  }
}

#wattyl-video.placeholder{
  &:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(../../images/wattyl/video-poster.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    z-index:2;
  }
}

.edm-grid{
  background-image: url(../images/email/email-litmus-grid.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.highlight{
  position:absolute;
  height: 5%;
  border: 1px solid red;
  width: 50%;
  top: 30%;
  left: 18%;
  z-index: 2;
}

#email-personalised{
  position: relative;
  img[src*="red"]{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
  }
}

.grid-cell-overflow{
  overflow:visible;
  .image-slide{
    position: relative;
    display:block;
    height: auto;
    width: 100%;
    overflow:visible;
    bottom:0;
    margin-top: -90%;
    img{
      position:relative;
      width:100%;
      height:auto;
    }
    img[src*="mod-block-1"]{
      position: absolute;
      top: 49%;
      left: 14.1%;
      width: 70.5%;
      height: auto;
      z-index: 2;
    }
    img[src*="mod-block-2"]{
      position: absolute;
      top: 30.8%;
      left: 14.1%;
      width: 70.5%;
      height: auto;
      z-index: 2;
    }
    img[src*="mod-block-3"]{
      position: absolute;
      top: 63.6%;
      left: 13.9%;
      width: 70.7%;
      height: auto;
      z-index: 2;
    }
    img[src*="mod-block-4"]{
      position: absolute;
      top: 66.6%;
      left: 49.7%;
      width: 35%;
      height: auto;
      z-index: 2;
    }
  }
}

.slide-wrapper{
  position:absolute;
  overflow:hidden;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.preloader{
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  background: black;
  z-index: 100;
  display:flex;
  align-items: center;
  justify-content: center;
  #status{
    width: 500px;
    height: 500px;
    background:white;
    canvas{
      width: 100%;
      height: 100%;
    }
  }
}

.app__menu__button{
  width: 2rem;
  height: 2rem;
  position:fixed;
  top:0;
  right:0;
  z-index: 20;
  background: white;
  border-radius: 100%;
}

.app__logo{
  width: 2.5rem;
  height: 2.5rem;
  position:fixed;
  top:0;
  left:0;
  z-index: 20;
  fill: black;
  border-radius: 100%;
  transform-origin: 0 0;
  transition: transform 0.3s ease-out;
  .init & {
    transform: scale(1.8);
  }
}

.app__menu{
  padding: 1rem;
  position: fixed;
  top:0;
  width: 100vw;
  height: 100vh;
  background: black;
  display:none;
  &.show{
    display:block;
  }
  a{
    color: white;
    display:block;
  }
  z-index: 10;
}

.me-pic{
  align-self:center;
  border-radius: 50%;
}

.work{
	background: @darkgrey url(../images/textured_paper.png);
  .grid-cell{
    // padding: 1rem 2rem;
  }
	h1, h2, h3{
		color: @white;
	}
	h1:after{
		border-color: white;
	}
  h3{
    text-align: center;
  }
  a.work__thumb{
    position: relative;
    margin: 0 auto;
    // border-radius: 0.5rem;
    // border: 1px solid @midgrey;
    width: 100%;
    padding-top: 74.5%;

    // &:before{
    //   content:'';
    //   display:block;
    //   background: rgba(0,0,0,0.3);
    //   position:absolute;
    //   top:0;
    //   width:100%;
    //   height:100%;
    //   z-index: 5;
    // }
  }
  img{
    // align-self: center;
    position:absolute;
    display:block;
    margin: auto;
    top:0;
    width:100%;
    height:auto;
  }
}

.thumb-annotations{
  display:flex;
  justify-content: space-between;
  max-width: 80%;
  p{
    width: 33%;
    color: black;
    font-size: @size-xsmall;
    text-align: center;
    padding: 0;
  }
}

.top-content{
  h3{
    margin-bottom: 2rem;
  }
}

.slider__nav-below{
  color: black;
  width: 80%;
  margin: 0 auto;
}

.slider__count{
	position:absolute;
	top:0;
	left:0;
}

.current-count{
	font-size: @size-small;
}

.full-count{
	position: relative;
	font-size: @size-small;
	font-weight: 700;
	color: @midgrey;
	&:before{
		content: '/';
		margin-right: 0.3em;
	}
}

.slider-section{
	background: @darkgrey;
	color: @white;
}

.slider-section .grid-cell{
  justify-content: flex-end;
}

.slider-cell{
	align-items: flex-end;
}

.reverse-mobile{
  .media-phone-portrait({
    flex-direction: column-reverse;
  });
}

.app__logo{

}

.approach{
	svg{
		width: 100%;
		height: 2rem;
	}
  .grid-cell{
    padding-right: 2rem;
  }
}

.about{
	padding: 0 0.5rem;
}

.single-image > img{
	width: 85%;
}

.index h3{
	text-align:center;
}

.process{
	color:white;
	p{
		position: relative;
		padding-left: 5em;
	}
	svg{
		position: absolute;
		top:-0.7em;
		left:0;
		width: 4em;
		height: 4em;
		fill: @darkgrey;
	}

}

.process-hero img{
	align-self: center;
	width: 100%;
	border: 1px solid @midgrey;
}

.additional-features{
	.grid-cell{
		padding-right: 2rem;
	}
}
