<% include ../partials/header.html.ejs %>

<section class="grid">
  <div class="grid-cell grid8">
    <h2>Background</h2>
    <p>Playground XYZ wants to change the way advertisers interact with their customers on mobiles.</p><p>I and the rest of the design team were tasked with devising, prototyping and testing new canvases and templates that would be user-friendly and appeal to advertisers.</p>
  </div>
  <div class="grid-cell grid4">
    <h4>Credits</h4>
    <p>Playground XYZ wants to change the way advertisers interact with their customers on mobiles.</p><p>I and the rest of the design team were tasked with devising, prototyping and testing new canvases and templates that would be user-friendly and appeal to advertisers.</p>
  </div>
</section>



  <section class="block grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <p>I had a lot of fun rolling this out into ad executions for many brands and campaigns.</p>
      </div>
      <div class="slider__nav" id="slider-hangtime-nav">
        <div class="slider__arrow slider__arrow--left"> < </div>
        <div class="slider__arrow slider__arrow--right"> > </div>
      </div>
    </div>
    <div class="grid-cell grid6" style="background: #666">

					<div id="slider-hangtime" class="slider--mobile">

					<!-- image and content -->
					<div class="video-slide">
						<video autoplay loop muted playsinline>
							<source src="/video/ads-htdemo.mp4">
							<!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
							<!-- <img src="image.gif"> -->
						</video>
					</div>
					<!-- image and content -->
					<div class="video-slide">
						<video autoplay loop muted playsinline>
							<source src="/video/ads-htgoogle.mp4">
							<!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
							<!-- <img src="image.gif"> -->
						</video>
					</div>

					<div class="video-slide">
						<video autoplay loop muted playsinline>
						  <source src="/video/ads-htpirates.mp4">
						  <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
						  <!-- <img src="image.gif"> -->
						</video>
					</div>

				</div>

    </div>
  </div>


</section>


<% include ../partials/footer.html.ejs %>
