<% include ../partials/header.html.ejs %>

  <section class="grid intro">
    <div class="grid-cell grid8 intro__text">
      <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>Playground XYZ wants to change the way advertisers interact with their customers on mobiles.</p>
        <p>I and the rest of the design team were tasked with devising, prototyping and testing new canvases and templates that would be user-friendly and appeal to advertisers.</p>
      </div>

    </div>
    <div class="grid-cell grid4 credits">
      <h3>My Role</h3>
      <p>UX Design, Prototyping, Graphic Design</p>

      <h3>Contributors</h3>
      <p>Steve Nash, UX Design</p>
      <p>Julian Fell, Developer</p>
      <p>Miles Disch, Developer</p>
    </div>
  </section>

  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>The Hang Time</h3>

        <p>I helped design and develop this full-screen format that engages customers with full-screen ad experiences, and animated timelines that 'scrub' back and forth with user scroll.</p>
        <p> My design of the timeline and the lightweight Javascript that powered it were my key contributions to the project.</p>
        <p>This impressive, popular format lead to strong ad campaign results for clients, driven by impressive creative executions and user-friendliness of the format.</p>

      </div>
    </div>
    <div class="grid-cell grid6 hangtime-intro">
      <div class="slider--mobile">
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads-ht-demo.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>


      </div>
    </div>

  </section>

  <section class="block grid">
    <div class="grid-cell grid6" style="background: #666">

      <div id="slider-hangtime" class="slider--mobile">

        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-honda-edit.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-google-edit.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-pirates.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

      </div>

    </div>
    <div class="grid-cell grid6">
      <div class="top-content">
        <p>I had a lot of fun rolling this out into ad executions for many brands and campaigns.</p>
        <div class="slider__captions" id="slider-hangtime-captions">
          <p><strong>Honda Annual Clearance</strong></p>
          <p><strong>Google Home</strong></p>
          <p><strong>Pirates of the Carribean</strong></p>
        </div>
        <div class="slider__nav" id="slider-hangtime-nav">

            <svg class="slider__arrow slider__arrow--left" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#arrow-left"></use>
            </svg>

            <svg class="slider__arrow slider__arrow--right" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#arrow-right"></use>
            </svg>

          </div>
      </div>

      </div>

    </div>

  </section>

  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Store Locator</h3>

        <p>Playground needed a 'store locator' ad template, which would use the customer's location to alert them to retail offers nearby, and hopefully increase footfall in the advertisers stores.</p>

        <p>We knew from our data that users were generally reluctant to share their location, so we used Google Geolocation to estimate user location to give the ad unit would have its immediate impact. Users could then optionally share their precise location for more accurate results.</p>

        <p>I designed the ad units, plotted the user journey through experience, then prototyped the store locator (HTML/CSS/JS + the Google Maps API).</p>

      </div>
    </div>
    <div class="grid-cell grid6">
      <div class="slider--mobile">
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads-store-locator.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

      </div>
    </div>

  </section>

  <section class="grid image-frame">
      <div class="grid-cell grid10">
        <img src="/images/ads/ads-mock1.jpg" alt="">
        <img src="/images/ads/ads-mock2.jpg" alt="">
      </div>

  </section>


  <% include ../partials/footer.html.ejs %>
