<% include ../partials/header.html.ejs %>

  <section class="grid intro">
    <div class="grid-cell grid8 intro__text">
      <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>CGU required a fresh appraoch to their email communications, allowing for more personalised, 1-to-1 communications with both customers and brokers.</p>
        <p>I designed a series of email templates for the Salesforce Marketing Cloud platform that would be easy to use and flexible for marketers, with no HTML knowledge required.</p>
      </div>

    </div>
    <div class="grid-cell grid4 credits">
      <h3>Design, Coding, Deployment</h3>
      <p>Rob Thwaites</p>

    </div>
  </section>


  <section class="grid">
    <div class="grid-cell grid8" style="margin-left: 20% ">
      <div class="slider--desktop">
          <div class="image-slide" style="position: absolute; top:0;">
            <img src="/images/email/email-desktop.jpg" alt="">
          </div>
        </div>
    </div>
  </section>


  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Personalised Content</h3>
        <p>Blocks of content were designed to present dynamically generated content based on the the customer’s profile, using Marketing Cloud’s rigorous segmentation capabilities.</p>
      </div>
    </div>

    <div class="grid-cell grid6">
      <div class="image-slide" id="email-personalised">
        <img src="/images/email/email-personalised.jpg" alt="">
        <img src="/images/email/email-red1.jpg" alt="">
        <img src="/images/email/email-red2.jpg" alt="">
        <img src="/images/email/email-red3.jpg" alt="">
        <img src="/images/email/email-red4.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="grid tall">
    <div class="grid-cell grid6 grid-cell-overflow">
      <div class="image-slide">
        <img id="email-main" src="/images/email/email-main.jpg" alt="">
        <img src="/images/email/mod-block-2.png" alt="">
        <img src="/images/email/mod-block-1.png" alt="">
        <img src="/images/email/mod-block-3.png" alt="">
        <img src="/images/email/mod-block-4.png" alt="">
      </div>
    </div>

    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Modular Content Blocks</h3>
        <p>The templates were designed and developed in blocks that could be rearranged and repurposed according to the marketers needs.</p>
      </div>
    </div>
  </section>

  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Every Device and Client</h3>
        <p>The final EDMS would designed to work on over 20 different email clients and render beautifully at any device size.</p>
      </div>
    </div>

    <div class="grid-cell grid6 edm-grid">
      <div class="slider--mobile">
        <div class="slide-wrapper">
          <div id="cgu-mobile-edm" class="image-slide">
            <img src="/images/email/edm-mobile.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <% include ../partials/footer.html.ejs %>
