<% include ../partials/header.html.ejs %>

  <section class="section--grey section--intro">
      <div class="top-content" style="color: <%= pageData.current.color %>">
        <!-- <img src="/images/reporting/top-thumbs.png" alt="" style="max-width: 80%; margin: 1rem 0"> -->
        <p>Playground XYZ offer a full-service mobile advertising platform, where advertisers can create and deploy mobile advertising campaigns.</p>
        <p>Our online platform required a Reporting Dashboard for clients to monitor and gain insights on the performance of their ad placements.</p><p>I designed and prototyped the <strong>Campaigns Listing </strong> and <strong>Reporting and Analytics</strong> screens.</p>
      </div>

      <div class="bottom-content">
        <h3>My Work</h3>
        <p>UX Research, Design, Prototype </p>
      </div>

  </section>

  <section>
      <div class="top-content">
        <h2>Campaigns Listing</h2>
      </div>
        <div class="slide">
          <img src="/images/reporting/dashboard1.jpg" alt="" style="align-self: flex-end">
        </div>
        <div class="bottom-content">
        <p>Playground customers are usually managing multiple ad campaigns at once, each containing multiple ad creatives and audience targetting.</p>
        <p>My challenge was to provide users with immediate insight into the performance of their campaigns on login.</p>
      </div>
  </section>

  <section class="section--text-right">
      <div class="top-content">
      <h2>Reporting and Analytics</h2>
      </div>
      <div class="slide">
        <img src="/images/reporting/analytics1.jpg" alt="">
      </div>
      <div class="bottom-content">
        <p>We wanted to provide customers with custom, easily comprehensible visualisations of their Campaign Data.</p>
        <p>We also aimed to provide some basic analytics controls, so the data could be split and viewed in a number of ways to gain deeper insights on campaign performance, such as which targetted audience was responding most to the ads based on clicks or
          engagement.
        </p>
      </div>
  </section>


  <section class="section--dark section--text-left">
    <div class="top-content">
      <h2 style="width:100%">Key Features</h2>
    </div>

    <div class="slide slider--desktop" id="slider-campaigns">

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/reporting/v2-list-breakdown.mp4">
          </video>
        </div>

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/2-charts.mp4">
          </video>
        </div>
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/2-animation.mp4">
          </video>
        </div>

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/4-split.mp4">
          </video>
        </div>

    </div>

    <div class="bottom-content">
      <div class="slider__captions">
        <div class="caption">
          <h4>Campaigns, Creatives, Placements</h4>
          <p> Overview of your campaigns can be expanded to display the ad creatives for each campaign, whether ad placement is delivering and generating engagement form its target audience.</p>
        </div>
        <div class="caption">
          <h4>Visual insights</h4>
          <p>Custom charts quickly surface the most relevant data for campaign managers, including alerts when key metrics for a campaign are not hitting their benchmarks.</p>
        </div>
        <div class="caption">
          <h4>Annotations and Alerts</h4>
          <p>Customers are quickly alerted when the data indicates a placement is not performing to benchmarks. Annotations keep track of where optimisations were made during the campaign to improve campaign performance.</p>
        </div>
        <div class="caption">
          <h4>Basic Analytics</h4>
          <p>Campaign data can be split and grouped in various ways - by placement, audience and site. Animated transitions and color coding assist clients to make comparisons and gain insights</p>
        </div>
      </div>
    </div>

  </section>

  <section class="section--split section--lightgrey">
    <h2>Additional Features</h2>
    <div class="top-content">
      <img src="/images/reporting/preview-creative.jpg" alt="" style="align-self: center; width: 100%">
      <h4>Ad previews</h4>
      <p>Ad Creative can be viewed as a preview to show advertisers what their customers are seeing.</p>
    </div>
    <div class="bottom-content">
      <img src="/images/reporting/download-sheet.jpg" alt="" style="align-self: center; width: 100%">
      <h4>Data downloads</h4>
      <p>All data is downloadable as a formatted Excel document for further analysis.</p>
    </div>
  </section>

  <section class="process section--text-right">
    <div class="top-content">
      <h2>Process</h2>
    </div>
    <div class="slide">
      <img src="/images/process-reporting.png" alt="">
    </div>
    <div class="bottom-content">
      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#research"></use>
        </svg> Gathered user FAQs and most requested campaign insights user input through our Operations Team, based on two years of managing campaigns and reporting in-house.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#plan"></use>
        </svg> Wireframed the application using Balsamiq mockups over several iterations until we hit on the most clear and efficient layout.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#codesign"></use>
        </svg> Built the prototype with HTML / CSS / JS, using the Amcharts API for the more complex charts. Parts of the app buil and styled as separate components, in preparation for final React App development.</p>
    </div>
  </section>


  <% include ../partials/footer.html.ejs %>
