<% include ../partials/header.html.ejs %>

  <section class="grid intro">
    <div class="grid-cell grid8 intro__text"  style="color: <%= pageData.current.color %>">
        <p>Critical Stages needed to raise $25,000 in tax-deductible donations to send hit show <em>Songs for the Fallen</em> on its first international tour.</p>
        <p>I was contracted to create a rich-media brochure site, showcasing the new music and rich design of the show.</p>
    </div>
    <div class="grid-cell grid4 credits">
<h3>Design<br/>Front-End Development<br/>CMS</h3>
      <p>Rob Thwaites</p>
    </div>

  </section>


  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Branding</h3>
          <p>I began the project by creating a new brand for the production</p>
          <p>This included a logotype, fonts and color choices which matches the aleready strong aeathetic of the live show.</p>
          <p>These elements were subsequently used not just on the website but for print and social media purposes.</p>
      </div>

    </div>
    <div class="grid-cell grid6">
      <div class="image-slide">
        <img src="/images/songs/brand.png" alt="">
      </div>
    </div>

  </section>

  <section class="grid" style="background: <%= color.lightgrey %>">

    <div class="grid-cell grid6">
          <video autoplay loop muted playsinline style="height: 30vw;">
            <source src="/images/songs/songs-thumbs.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
    </div>

    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Rich Media elements</h3>
          <p>To showcase the production, the site had to be equipped to display rich media.</p>
          <p>Audio, video, text, imagery would play a part in showing off the production to potential donors and supporters.</p>
      </div>

    </div>

  </section>

  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Custom Paypal form</h3>
          <p>I used the Paypal API to embed a form right in the page to streamline the process for people to give their tax-deductible donation.</p>
          <p>The form took their essential details and then forwarded them to the secure Paypal donation page to enter card details.</p>

      </div>

    </div>
    <div class="grid-cell grid6">
      <div class="image-slide">
        <img src="/images/songs/form.png" alt="">
      </div>
    </div>

  </section>

  <section class="grid block  slider-section">

    <div class="grid-cell grid8">
      <div class="slider--desktop">
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/songs/songs-demo.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

      </div>
    </div>

    <div class="grid-cell grid4">
      <div class="top-content">
        <h3>The full effect</h3>
          <p>All elements were combined into a 1-page scrolling site.</p>
      </div>

    </div>

  </section>

  <section class="grid">
    <div class="grid-cell grid6">
      <div class="top-content">
        <h3>Responsive Design</h3>
          <p>All elements of the design can be viewed on any device.</p>

      </div>

    </div>
    <div class="grid-cell grid6">
      <div class="image-slide">
        <img src="/images/songs/responsive.png" alt="">
      </div>
    </div>

  </section>

  <section class="grid process">
    <h2 style="width:100%">Process</h2>
    <div class="grid-cell grid5 process-hero">
      <img src="/images/process-songs.png" alt="">
    </div>
    <div class="grid-cell grid7">

        <p><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#research"></use>
        </svg>I consulted closely with the show's director on the functionality and look and feel of the site, mocking designs in Photoshop to get sign-off.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#codesign"></use>
        </svg>I coded up a static responsive version of the site with HTML/CSS/JS.</p>

        <p>
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" xlink:href="#code"></use>
          </svg>I realised that it would be easier for the clients to update their own content. I ported the static website to Wordpress and deployed it to a PHP server.</p>
        <p>
    </div>
  </section>





  <% include ../partials/footer.html.ejs %>
